/*Exploring Flex Box Practices*/

/*flex-direction: row, row-reverse, column, column-reverse*/

/*justify-content: flex-start, flex-end, center, space-between, space-around, space-evenly*/

/*align-items: flex-start, flex-end, center, baseline, stretch*/

/*flex-wrap: nowrap, wrap, wrap-reverse*/

/*align-content: flex-start, flex-end, center, stretch, space-between, space-around, space-evenly*/

/*align-self: flex-start, flex-end, center, baseline, stretch*/

/*flex: flex-grow, flex-shrink, flex-basis*/

.parent1 {
    width: 700px;
    height: 700px;
    background-color: #bdffd1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 10px solid purple;
  }

  .parent2 {
    width: 700px;
    height: 700px;
    background-color: #bdffd1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-around;
    border: 10px solid pink;
  }

  .parent3 {
    width: 700px;
    height: 700px;
    background-color: #bdffd1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border: 10px solid blue
    
  }
  
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .img-two {
    align-self: flex-start
  }

  .img-ones {
    flex-grow: 1;
  }