/*Exploring the padding property, or the space between an element and the border*/

div {
    width: 300px;
    height: 300px;
    background-color: pink;
    border: 10px double purple;
    padding: 20px;
}